@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #AFD3E2;
  color: #F6F1F1;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 20px 0;
}

h1 {
  margin: 15px;
  text-align: center;
}

.pulsate {
  width: 500px;
  height: 70px;
  border-radius: 20px;
  background-color: #19A7CE;
  animation: pulsate 4s ease-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.box {
  background-color: #146C94;
  color: #F6F1F1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  /* will move the box from the visible screens (thats why 400%) */
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.first {
  margin-top: 20px;
}
.box:nth-of-type(even) {
  transform: translateX(-400%);
  /* they will go in the other direction so the(even) one will be from one side (-400%) and the odd will go to the usual (400%)*/
}

.box.show {
  transform: translateX(0);
  /* it will show the box */
}

.box h2 {
  font-size: 45px;
}
